<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>Error</title>
</head>

<body class="grey lighten-4">
<div class="container">
  <h4 class="grey-text text-darken-2">Internal Error</h4>
  <a th:href="@{'/'}">Back to Homepage</a>
</div>
</body>

</html>