<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Home | My article</title>
</head>

<body class="grey lighten-4">
<nav class="white z-depth-0" th:fragment="header">
    <div class="container">
        <a href="/" class="brand-logo brand-text">My first blog</a>
        <ul id="nav-mobile" class=" login right hide-on-small-and-down">
            <li class="black-text">You are logged in as
                <span th:text="${#authentication.name}+'&nbsp'" />
            </li>
            <li><form th:action="@{/logout}" method="post">
                <input class="btn z-depth-0" type="submit" value="Logout"/>
            </form></li>
            <li><a href="/add_article" class="btn z-depth-0">Post your article</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Hello World</h1>
</div>
</body>

</html>