<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head th:replace="fragment/header_auth :: head">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" th:href="@{/style.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>Register | My Blog</title>
</head>

<body class="grey lighten-4">
<nav class="white z-depth-0" th:replace="fragment/header_anonymous :: header">
</nav>
<div class="container">
  <h3 class="brand-text">New User registration</h3>
  <form th:action="@{/registration}" th:object="${blogUser}" method="POST">
    <label >Desired username</label>
    <input type="text" th:field="*{username}" ><br>
    <div class="red-text" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">error</div>
    <label >Your email</label>
    <input type="text" th:field="*{email}" ><br>
    <div class="red-text" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error</div>
    <label >Password</label>
    <input type="password" th:field="*{password}"><br>
    <div class="red-text" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error</div>
    <label >Repeat password</label>
    <input type="password" th:field="*{passwordRepeat}"><br>
    <div class="red-text" th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}">error</div>
    <input class="waves-effect waves-light btn" type="submit" name="submit" value="Register!">
  </form>
</div>
</body>

</html>